* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 0px 50px;
}

#header {
    background-color: black;
    color: white;
    font-size: 2.5rem;
    padding: 10px 20px;
}

#title {
    text-align: center;
    margin: 20px;
}

#main {
    display: flex;
    gap: 20px;
}


#col1 {
    border: 3px solid black;
    height: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 30px 10px;
}

#col1 > img {
    width: 100px;
}

#col1 > p {
    font-size: 1.5rem;
}

#col2 {
    flex:2;
}

.user-card {
    border: 3px solid black;
    padding: 20px;
    margin-bottom: 20px;

}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user > h4 {
    margin-left: 50px;
}

.user > button {
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    background-color: rgb(255,216,102);
}
