* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

form {
    width: 1000px;
    margin: 0 auto;
}

.userCard {
    border: 3px solid rgb(204,204,204);
}

.top-profile {
    height:100px;
    background-color: rgb(20,162,184);
}

.userInfo {
    position: relative;
    left: 30px;
    bottom: 50px;
}
h1, h3, p {
    margin: 20px 0px;
}

#userImage {
    height: 100px;
    position: relative;
    left: 50px;
    bottom: 50px;
    border-radius: 50%;
    border: 3px solid white;
}

#mapMarker {
    height: 15px;
}

#gear {
    height: 15px;
    margin-right: 10px;;
}

